<% content_for :page_title ,"Home Page"%>

<h1 class="">Home Page</h1>

<div class="row">
    <div class="col-8">
        <% @post.each do |p| %>
            <div class="">
                <%=render  partial:'user/post',locals:{p:p}%>
            </div>
        <%end%>
    </div>
    <div class="col-4">
        <h1>Categories</h1>
        <% @category.each do |c|%>
            <p>

                <%=c.title%>----<%=c.total_count%>
            </p>
        <%end%>
    </div>
</div>