<div class="bg-dark-subtle">
    <div class="container d-flex align-items-center  justify-content-between mb-2">
        <h1 class="">Rails App</h1>
        <ul class="navBar">
            <li> <%= link_to "Home" ,root_url%></li>
            <li><%= link_to "About" ,welcome_about_us_path%></li>
            <li><%= link_to "Pricing" ,welcome_pricing_path%></li>
            <li><%= link_to "Contact" ,welcome_contact_path %></li>
        </ul>
    </div>
</div>